@model IEnumerable<Project.users.dal.ViewModels.ListUserView>

@{
    ViewBag.Title = "Lista de usuario";
}

<h2>Lista de usuarios</h2>
 
<p>
    @Html.ActionLink("Crear usuario", "Index" ,"Usuario")
</p>
<table class="table">
    
        <tr>
            <th class="active">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="active">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th class="active">
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th class="active"></th>
        </tr>
    
        @foreach (var item in Model)
        {

           
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Nombre)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.FechaNacimiento)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Sexo)
                   </td>
                   <td>
                       @Html.ActionLink("Editar", "Edit", new { id = item.Id} , new { @class = "btn btn-primary" }) 
                       @Html.ActionLink("Eliminar", "Deleteget", new { id = item.Id }, new { @class = "btn btn-danger" })
                   </td>
               </tr>
               }
           
           </table>
